<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Board</title>
    <!--<h1>Boards</h1> -->
</head>
<body>
<h1>Boards</h1>
<table border="1">
      <thead>
        <tr>
          <th>Board</th>
          <th>Posts</th>
          <th>Topics</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
          <tr>
            <td>
              {{ board.name }}<br>
              <small style="color: #888">{{ board.description }}</small>
            </td>
            <td>
               {{ blog_post  }}<br>
           </td>
            <td>{{ topic_count }}</td>
            <td>0</td>
          </tr>
         {% endfor %}
      </tbody>
    </table>
  </body>
</html>